[Desktop Entry]
Type=Application
Name=Chartreuse
GenericName=Screenshot Tool
Comment=Take screenshots and annotate them
Exec=chartreuse
Icon=io.jennings.chartreuse
Terminal=false
StartupNotify=false
Categories=Graphics;Utility;
Keywords=screenshot;capture;annotate;screen;
Actions=capture-display;capture-selection;

[Desktop Action capture-display]
Name=Capture display
Exec=chartreuse capture display

[Desktop Action capture-selection]
Name=Capture selection
Exec=chartreuse capture selection
